-r requirements.txt

coverage==4.3.4
flake8-docstrings==1.0.3
flake8-isort==2.2.1
flake8==3.3.0
hypothesis==3.10.0
isort==4.2.5
mccabe==0.6.1
mypy==0.501
pep8==1.7.0
pydocstyle==1.1.1
pyflakes==1.5.0
pytest==3.0.7
pytest-cov==2.4.0
pytest-django==3.1.2
