%footer.footer
  .container
    .row
      .col-sm-4.col-sm-push-4.text-center
        %a{href: "{% url 'landing:imprint' %}"} Imprint
        %span •
        %a{href: "{% url 'landing:faq' %}"} FAQ
        %span •
        %a{href: "{% url 'landing:tos' %}"} Terms of Service
