- load static
- load i18n

%nav
  %a{href: "{% url 'landing:landing' %}"}
    = request.site.name
  - if user.is_authenticated
    %a{href: "{% url 'account:user_detail' %}"}
       = request.user
    %a{href: "{% url 'account:logout' %}"}
      - trans "Logout"
    - if user.is_staff
      %a{href: "{% url 'admin:index' %}"}
        - trans "Admin"
   - else
    %a{href: "{% url 'account:signup' %}"}
      - trans "Signup"
    %a{href: "{% url 'account:login' %}"}
      - trans "Login"
