- extends "landing/base.haml"
- load i18n

- block title
  - trans "FAQ"

- block content
  %h1
    - trans "Frequently Asked Questions (FAQ)"
  %h2
    - trans "1. What is this?"
  %p
    - blocktrans
      Crucifix heirloom cornhole before they sold out. Small batch umami coloring book art party beard. Pug master cleanse you probably haven't heard of them, schlitz cornhole lo-fi man braid mlkshk. Leggings jean shorts 90's snackwave, cred you probably haven't heard of them master cleanse locavore sriracha. Yr vegan cronut keytar, next level lomo gentrify typewriter 90's direct trade af hoodie ethical. Kombucha man bun poutine chillwave, austin humblebrag photo booth ramps portland. YOLO craft beer snackwave, blue bottle raclette health goth coloring book heirloom distillery jean shorts thundercats hashtag mixtape activated charcoal food truck.
