- extends "landing/base.haml"
- load i18n

- block title
  - trans "Terms of Service"

- block content
  %h1
    - trans "Terms of Service"
  %h2
    - trans "Introduction"
  %p
    - blocktrans
      Put a bird on it four dollar toast blue bottle venmo, PBR&B blog unicorn
      woke gentrify roof party lyft. You probably haven't heard of them kitsch
      tofu, artisan cold-pressed pabst cronut gluten-free post-ironic 90's
      fingerstache. Prism cronut raclette mumblecore. Gochujang asymmetrical
      hella everyday carry. Glossier offal sriracha la croix, ennui kale chips
      tote bag readymade semiotics unicorn letterpress asymmetrical succulents
      taxidermy. Man bun sustainable listicle, air plant actually woke forage
      biodiesel squid. Street art four loko kombucha, humblebrag cray meh ramps
      tacos deep v kitsch.
