- extends "registration/base.haml"
- load i18n
- load bootstrap3
- block content
  .row
    .jumbotron.col-sm-6.col-sm-offset-3.text-center
      %h2
        - trans "Möchten Sie sich abmelden?"
      %form.form{method: "POST"}
        - csrf_token
        - buttons
          %a.btn.btn-primary{href: "/"}
            - trans "Abbrechen"
          %button.btn.btn-danger(type: "submit")
            - trans "Abmelden"
