- extends "registration/base.haml"
- load i18n

- block content
  h1
    - trans "Password Reset Error"
  p
    - url "password_reset" as "reset"
    - blocktrans with reset
      Leider ist der von Ihnen benutzte Link nicht gültig. Wir bitten Sie,
      noch einmal das Zurücksetzen Ihres Passworts
      a(href='{{ reset }}') hier
      anzufordern.
