- extends "registration/base.haml"
- load i18n

- block content
  %h1
    - trans "Password Reset Successful"
  %p
    - url "login" as login
    - blocktrans
      Your password was successfully reset. You can now continue to login
      %a{href: "={login}"}
        here
