- extends "registration/base.haml"
- load i18n

- block content
  %h1
    - trans "Password Reset Link Sent"
  %p
    - blocktrans
      A password reset link was sent to you. It should be in your inbox
      within the next 10 minutes. Please follow the instructions in the
      email.
