- extends "account/form_base.haml"

- load i18n
- load bootstrap3

- block heading
  - trans "Login"

- block form
  - bootstrap_form form
  - buttons
    %button.btn.btn-success{type: "submit"}
      - trans "Login"
      %i.fa.fa-sign-in
    %a.btn.btn-primary{href: "{% url 'account:password_reset' %}"}
      - trans "Forgotten Password"
      %i.fa.fa-question
  - endbuttons
