- extends "form_base.haml"

- load i18n

- block heading
  - trans "Möchten Sie sich abmelden?"

- block heading
  %a{href: "/"}
    - trans "Abbrechen"
  %button{type: "submit"}
    - trans "Abmelden"
