- extends "base.haml"

- load i18n

- block content
  %h1
    - trans "Password Changed"
  %p
    - blocktrans
      Your password was successfuly changed. You can now use the new password
      that you have entered.
