- extends "landing/base.haml"
- load i18n

- block title
  - trans "FAQ"

- block content
  %h1
    - trans "Frequently Asked Questions (FAQ)"
  %h2
    - trans "1. What is {{ cookiecutter.project_name }}?"
  %p
    - blocktrans
      {% lorem %}
