- extends "landing/base.haml"
- load static
- load i18n
- block container_out
  .jumbotron
    .container
      %h2.slogan.text-center
        {{ request.site.name }} Will Never be The Same Again
      %p
        {% lorem %}
