- extends "landing/base.haml"
- load static
- load i18n
- block container_out
  .jumbotron
    .container
      %h2.slogan.text-center
        - trans "Beard cronut leggings flannel, pok pok bicycle rights kitsch"
      %p
        - blocktrans
          Beard cronut leggings flannel, pok pok bicycle rights kitsch
          gochujang gentrify XOXO vice. Coloring book umami asymmetrical,
          iPhone wayfarers humblebrag post-ironic 8-bit lyft. Pickled waistcoat
          actually snackwave food truck hell of tumeric meh. Jean shorts before
          they sold out copper mug fixie, health goth cronut vexillologist
          semiotics single-origin coffee. Disrupt echo park franzen stumptown.
          Pickled readymade fingerstache prism. Master cleanse street art
          leggings, godard health goth tilde +1 bespoke.
