- extends "landing/base.haml"
- load i18n

- block title
  - trans "Terms of Service"

- block content
  %h1
    - trans "Terms of Service"
  %h2
    - trans "Gluten-free intelligentsia fingerstache"
  %p
    - blocktrans
      Kombucha fanny pack gentrify taxidermy iceland jean shorts, vape four loko.
      Photo booth occupy thundercats twee heirloom offal, hammock pinterest.
      Seitan hot chicken unicorn meditation letterpress, keytar cornhole cronut.
      Lumbersexual etsy neutra tote bag unicorn forage. Biodiesel helvetica
      authentic, pitchfork PBR&B meh letterpress tattooed kitsch coloring book.
      Drinking vinegar fingerstache cred ramps pabst. Try-hard austin disrupt
      knausgaard 8-bit, williamsburg etsy celiac.
  %h2
    - trans "Venmo four loko artisan YOLO"
  %p
    - blocktrans
      Salvia put a bird on it yuccie, tumeric meh flannel subway tile
      meditation mustache lo-fi leggings. Sustainable bitters subway tile
      quinoa, drinking vinegar cray vape ramps actually fashion axe lo-fi
      vexillologist. Etsy hexagon kickstarter, XOXO pork belly green juice
      waistcoat sriracha schlitz tilde retro. Occupy vexillologist humblebrag,
      wolf vegan PBR&B YOLO selfies mumblecore cornhole mlkshk viral mixtape
      man braid meditation. Ennui direct trade normcore cardigan, swag roof
      party heirloom banjo post-ironic literally XOXO. Dreamcatcher chartreuse
      art party, trust fund truffaut kombucha chicharrones kitsch gluten-free
      vape 3 wolf moon roof party prism tattooed copper mug. Kombucha pickled
      stumptown fam, celiac hell of food truck man bun prism bushwick XOXO
      plaid bicycle rights.
