- extends "landing/base.haml"
- load i18n

- block title
  - trans "Terms of Service"

- block content
  %h1
    - trans "Terms of Service"
  %h2
    - trans "Introduction"
  %p
    - blocktrans
      {% lorem %}
